{% load static %}
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <h6 class="text-white">Kingdom Mouthpiece Blog</h6>
        </div>
        <div class="contact-details">
          <p>The Kingdom Mouthpiece, Kwara State University, Malete, Kwara State, Nigeria</p>
          <p>Phone: +234 (0)705 865 0352</p>
          <p>Email: <a href="mailto:the_kmp@outlook.com">the_kmp@outlook.com</a></p>
          <ul class="social-menu">
            <li class="list-inline-item"><a href="https://www.facebook.com/The-Kingdom-Mouthpiece-116085870229882/"><i
                  class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/TKMP_Official?s=09"><i
                  class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a
                href="https://wa.me/+2349025176325?text=I%20would%20like%20to%20invite%20you%20for%20a"><i
                  class="fa fa-whatsapp"></i></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC9-ZznlVA8LOSvNiKZM0DzA"><i
                  class="fa fa-youtube"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="menus d-flex">
          <ul class="list-unstyled">
            <li>
              <p><u>Our Partners</u></p>
            </li>
            <div class="latest-posts"><a href="mailto:ajekiigbefavour@gmail.com">
                <div class="post d-flex align-items-center">
                  <div class="image"><img src="{% static 'img/fav.jpg' %}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>Souphics</strong><span class="date last-meta">For your graphics design,
                      mail us @
                      <strong>ajekiigbefavour@gmail.com</strong></span></div>
                </div>
              </a><a href="http://matechcommunication.com">
                <div class="post d-flex align-items-center">
                  <div class="image"><img src="{% static 'img/matech.jpg' %}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>matechcommunication</strong><span class="date last-meta"><strong>For your
                        technical services</strong></span></div>
                </div>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="latest-posts"><a href="#">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{% static 'img/small-thumbnail-1.jpg' %}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>Worship Experience 2019</strong><span class="date last-meta">November 24,
                  2019</span></div>
            </div>
          </a><a href="#">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{% static 'img/small-thumbnail-2.jpg' %}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>Worship Experience 2020</strong><span class="date last-meta">December 11,
                  2020</span></div>
            </div>
          </a><a href="#">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{% static 'img/kmp3.jpg' %}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>The Kingdom Mouthpiece Crew</strong><span class="date last-meta">September 26,
                  2019</span></div>
            </div>
          </a></div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2020. All rights reserved. The Kingdom Mouthpiece.</p>
        </div>
        <div class="col-md-6 text-right">
          <p>Template By <a href="https://bootstraptemple.com" class="text-white">Bootstrap Temple</a>
            <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>